page-category {

  font-weight: 300;

  ion-slide {

    position: relative;
    background-size: cover;

    p {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(132, 191, 65, .8);
      color: #FFFFFF;
      padding: 28px 28px 48px 28px;
      font-size: 2.7rem;
      margin-bottom: 0;
    }

    img {
      width: 50px;
      height: 50px;
      margin-top: -150px
    }

  }
  .c-center {
    text-align: center;
  }

  .swiper-pagination-bullet {
    background: white;
  }
  .card {
    padding: 33px;
    margin: 5px;
    box-shadow: 0 8px 15px rgba(100, 100, 100, 0.1), 0 8px 5px rgba(100, 100, 100, 0.2);
  }
  @media only screen and (max-width: 378px) {
    .card {
      padding: 23px;
      margin: 5px;
      box-shadow: 0 8px 15px rgba(100, 100, 100, 0.1), 0 8px 5px rgba(100, 100, 100, 0.2);
    }
  }
  @media only screen and (max-width: 363px) {
    .card {
      padding: 20px;
      margin: 5px;
      box-shadow: 0 8px 15px rgba(100, 100, 100, 0.1), 0 8px 5px rgba(100, 100, 100, 0.2);
    }
  }
  .card .item {
    border-left: 0;
    border-right: 0;
  }
  .card .item:first-child {
    border-top: 0;
  }
  .card .item:last-child {
    border-bottom: 0;
  }
  
  .padding .card, .padding .list-inset {
    margin-left: 0;
    margin-right: 0;
  }
  
  .card .item:first-child,
  .list-inset .item:first-child,
  .padding > .list .item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  .card .item:first-child .item-content,
  .list-inset .item:first-child .item-content,
  .padding > .list .item:first-child .item-content {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  .card .item:last-child,
  .list-inset .item:last-child,
  .padding > .list .item:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .card .item:last-child .item-content,
  .list-inset .item:last-child .item-content,
  .padding > .list .item:last-child .item-content {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .card .item:last-child,
  .list-inset .item:last-child {
    margin-bottom: -1px;
  }
  
  .card .item,
  .list-inset .item,
  .padding > .list .item,
  .padding-horizontal > .list .item {
    margin-right: 0;
    margin-left: 0;
  }
  .card .item.item-input input,
  .list-inset .item.item-input input,
  .padding > .list .item.item-input input,
  .padding-horizontal > .list .item.item-input input {
    padding-right: 44px;
  }

  .wd-cloud {
   // background-image: url("../../assets/img/BG.jpg");
    text-align: center;
    padding-top: 87px;
  }

}