innovation-list {
  .card-md h2 {
    color: #00a1de;
  }

  .idea-wrapper {
    display: table;
    padding: 5px;
    width: 100%;

    .idea-content, .idea-thumbnail, .idea-information {
      display: table-cell;
      margin: 0;
      padding: 5px;
    }

    .idea-thumbnail {
      width: 15%;
      vertical-align: middle;

      ion-thumbnail {
        height: 100%;
      }
    }

    .idea-content {
      width: 80%;
      vertical-align: top;

      .headingContainer {
        display: inline-flex;
      }

      .heading {
        font-size: 18px;
        margin-top: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 176px;
      }

      .body {
        margin-top: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
        color: #8e9093;
      }
    }
    .idea-information {
      ion-icon {
        margin-top: 1px;
        margin-left:5px;
        font-weight: bold;
      }
      color: #00a1de;


    }
  }
}
