<ion-list>
  <div *ngFor="let idea of innovations">
    <ion-item>
	  <div class="idea-wrapper">
		  <div class="idea-thumbnail">
			  <ion-thumbnail item-left (click)="goToDetailsView(idea)">
				  <img src="{{idea.thumbnail}}" />
			  </ion-thumbnail>
		  </div>
		  <div class="idea-content">
			  <div class="headingContainer">
          <div class="heading" (click)="goToDetailsView(idea)">{{ idea.title }}</div>
          <div class="idea-information"><ion-icon (click)="openToast(idea)" name="ios-information-circle-outline" small></ion-icon></div>
        </div>
			  <p class="body" (click)="goToDetailsView(idea)">{{ idea.description }}</p>
			  <content-footer [teamName]="idea.team.name" [status]="idea.status"></content-footer>
		  </div>

	  </div>
    </ion-item>
  </div>
</ion-list>
