innovation-list {
  .card-md h2 {
    color: #00a1de;
  }

  .idea-wrapper {
    display: table;
    padding: 5px;

    .idea-content, .idea-thumbnail, .idea-information {
      display: table-cell;
      margin: 0;
      padding: 5px;
    }

    .idea-thumbnail {
      width: 25%;
      vertical-align: middle;

      ion-thumbnail {
        height: 100%;
      }
    }

    .idea-content {
      width: 67%;
      vertical-align: top;

      .heading {
        font-size: 18px;
        margin-bottom: 0px;
      }

      .body {
        margin-top: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
        color: #8e9093;
      }
    }
    .idea-information {
      width: 8%;
      text-align: center;
      ion-icon {
        margin-top: 20px;
      }
    }
  }
}
