innovation-list {
  .card-md h2 {
    color: #00a1de;
  }

  .wrapper {
    display: table;

    .content {
      display: table-cell;
      vertical-align: middle;

      .idea-status::first-letter {
        text-transform: uppercase;
      }
    }
  }
}
