page-contact {
  .contact_image {
    background-image: url("/assets/img/contact.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-clip: padding-box;
    box-sizing: border-box;
  }
}
