<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ innovation.title }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<ion-card>
  <div class="videoWrapper" *ngIf="innovationContentType === 'video'; else elseBlock">
    <iframe width="315" height="315" [src]="innovation?.content.url | youtube" frameborder="0" allowfullscreen></iframe>
  </div>
  <ng-template #elseBlock>
	  <img src="{{ innovation?.thumbnail }}">
  </ng-template>
  <ion-card-content>
	  <ion-card-title>
		  {{ innovation.title }}
	  </ion-card-title>
	  <p text-justify>
		  {{ innovation.description }}
    </p>
    <ion-item *ngIf="innovationContentType === 'pdf' || innovationContentType === 'presentation'">
      <ion-label >Artifacts: <a href="{{innovation?.content.url}}" target="_blank">Download PDF</a></ion-label>
    </ion-item>
    
	  <content-footer [teamName]="innovation.team.name" [status]="innovation.status"></content-footer>
  </ion-card-content>
</ion-card>
<innovation-list [innovations]="innovationList" (navigateToDetails)="loadInnovationDetails($event)"></innovation-list>
</ion-content>
