page-innovation-details {
  .card-title-md {
    color: #00a1de;
  }

  p {
    ion-icon {
      margin-right: 5px;
    }
  }
  .card-subtitle {
    font-size: 1.0em;
    color: #000;
  }
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .wrapper {
    display: table;

    .content {
      display: table-cell;
      vertical-align: middle;

      .idea-status::first-letter {
        text-transform: uppercase;
      }
    }

  }
  .ideation ion-icon {
    color: red;
  }

  .prototype ion-icon {
    color: orange;
  }

  .completed ion-icon {
    color: green;
  }

  .footer {
    display: table;
    width: 100%;
    .team, .status {
      display: table-cell;
      vertical-align: middle;
    }
    .team {
      width: 95%;
      .team-icon, .team-name {
        display: table-cell;
      }
      .team-name {
        vertical-align: middle;
        padding: 5px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
      }
      ion-icon {
        font-size: 2.2em;
      }
    }
    .teamDetail {
      width: 50%;
      .team-icon {
        color: #00a1de;
      }
    }
    .statusdetail {
      width: 50%;
    }
    .status {
      float:right;
      margin-right: 30px;
      margin-top: 10px;
      width: 5%;
    }

  }

}
